<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Exam</title>
  </head>
  <body>
    {{! navigation }}
    <nav class="navbar">
      <div class="container">
        <div class="btn-home">
          <a class="navbar-brand" href="#">回到頁首</a>
        </div>
        <div class="buttons">
          <button>About</button>
          <button>Portfolio</button>
          <button>Contact</button>
        </div>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>